@media only screen and (max-width: 450px){
    [class="container"]{
    width: 100%;
    }

    }
    
    *{
    
         font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

body{
height: auto;
background: rgb(65,58,184);
background: linear-gradient(156deg, rgba(65,58,184,1) 0%, rgba(230,130,255,1) 85%, rgba(202,55,255,1) 100%);

}


.container{
margin: auto;
margin-top: 100px;
margin-bottom: 100px;
width: 50%;
background-color: aliceblue;
padding: 60px;
border-radius: 10px;
box-shadow: -10px 10px rgb(74, 23, 104);
}


.firstname{

padding: 20px;

}

.firstname input{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;  
    width: 100%;
    padding: 15px;
    background-color: aliceblue;
    border-bottom-style: solid;
    
}


.lastname{


    padding: 20px;


}

.lastname input{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;  
    width: 100%;
    padding: 15px;
    background-color: aliceblue;
    border-bottom-style: solid;
  
}

.email{

    padding: 20px;

}

.email input{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;  
    width: 100%;
    padding: 15px;
    background-color: aliceblue;
    border-bottom-style: solid;
  
}

.pass{


    padding: 20px;


}

.pass input{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;  
    width: 100%;
    padding: 15px;
    background-color: aliceblue;
    border-bottom-style: solid;
  
}



.phonenumber{


    padding: 20px;


}

.phonenumber input{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;  
    width: 100%;
    padding: 15px;
    background-color: aliceblue;
    border-bottom-style: solid;
  
}


.gender{
font-size: 20px;
text-align: center;
    padding: 20px;
    
}

.gender label{
    font-weight: 50%;
   padding: 5px;
    
    }

  
    .city{

        padding: 20px;

    }

    .city select{

        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border-style: none;  
        width: 100%;
        padding: 15px;
        background-color: aliceblue;
        border-bottom-style: solid;
      


    }

    .terms{

        padding: 30px;
text-align: center;
    }

    .terms input{

        width: 20px;


    }

.submit{

    text-align: center;
}

.submit input{
color: aliceblue;
background-color: rgb(255, 116, 243);
font-size: 20px;
width: 100px;
border-radius: 10px;
border-style: none;
padding: 20px;
width: 200px;
}

.submit input:hover{
    
color:rgb(255, 255, 255);
background-color: rgb(255, 116, 243);
transition: 0.3s ease;
padding: 30px;
box-shadow: -5px 5px rgb(94, 59, 114);
}

.footer{
text-align: center;
    font-size: 5px;
    background-color: rgb(29, 29, 29);
    color: aliceblue;
    padding: 15px;
    margin-left:-10px;
    margin-right:-8px;
    margin-bottom: -10px;

}